.roundedCorners {
    border-radius: 25px;
    border: '2px solid #73AD21'
}

.topMenuSearch {
    background-image: url(http://icons.iconarchive.com/icons/graphicloads/100-flat/256/zoom-search-2-icon.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    padding-right: 52px;
    padding-left: 8px;
    height: 3vw
}

.topLeftMenuItem {
    color: white;
    font-size: 1vw;
}

.topLeftMenuItemBig {
    @extend .topLeftMenuItem;
    font-size: 2vw;
}

.profileImage {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.4vw;
    width: 3vw;
    height: 3vw;
}

.statusCircle {
	border-radius: 50%;
	width: 0.7vw;
	height: 0.7vw;
    display: inline-block;
    margin-right: 0.25vw;
}

.statusOnlineCircle {
    @extend .statusCircle;
    background-color: #80AB3F;
}