.roundedTextbox {
    background-position: right top;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    background-color: #fff;
    padding-right: 0.5vw;
    padding-left: 4vw;
    height: 3vw;
    width: 20vw;
    border-radius: 1.5vw;
    border: 2px solid #73AD21;
}