html,body,.container {
  height:100%;
}

.contentContainer {
    background-color: white;
    padding-top: 2vw;
    padding-bottom: 4vw;
    padding-left: 4vw;
    border-radius: 1vw; 
    margin-top: 5vw;
}

.ulinline, .liinline {
    position: relative;
    left: -1vw;
    display: inline-block;
}

.dragonName {
    font-size: 2vw;
    color: #A9C147;
    font-weight: bold;
}

.subTitle {
    font-size: 1vw;
    font-weight: bold;
}

.level {
    z-index: 1;
    font-size: 2.5vw;
    position: absolute;
    top: -1.25vw;
}