.nameText {
  color: white;
  font-weight: 600;
  font-size: medium;
  margin-top: 4px;
  margin-bottom:0
}

.levelText {
  color: #DA5692;
  font-weight: 700;
  font-size: small;
  margin-top: 2px;
}

.ProfileImageContainer {
  width: 82px;
  height:100px;
  border-radius:10%;
  overflow: hidden;

  .profileImage {
    width: 82px;
    height:100px
  }
}

$size: 10rem;

.crown {
  position:absolute;
  right:0;
  top:0;
  width:70px;
  transform: scaleX(-1);
}

