.carousel{
  position: absolute;
  width: 74.76759189%;
  height: 100%;
  margin-left: 10.751%;
  margin-right: 10.751%;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.container {
  position: absolute;
  height: 77.5862069%;
  width: 100%;
  min-width: 700px;
  //overflow: hidden;
}

.arrow {
  font-size: 10vw !important;
  position: absolute;
  color: white;
  top: 20.1111%;
  cursor: pointer;
  &.right {
    right: 3.80454%;
  }
}

.arrowShadow {
  font-size: 10vw !important;
  position: absolute;
  color: #A8C145;
  top: 20.1111%;
  &.left{
    left: 5px;
  }

  &.right {
    right: 4.218%;
  }


}

.transformAnimation {
  position: absolute;
  width: 100%;
  height: 66.6666%;
  transition-duration: 0.8s;
}