.container {
    background-color: #9ACD32;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}

.whiteRectangle {
	width: 50px;
	height: 45px;
	background: white;
    overflow: hidden;
}

.image {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: -20px;
    border-width: 0;
    display: none;
}
.image[src] {
    display: block;
}