.container {
    @extend .shadow;
    overflow: hidden;
    padding-top: 0.001vw;
    position: relative;
    top: -0.3vw;
}

.shadow {
    height: 2vw;
    border-radius: 1.5vw;
}

.img {
    width: 3vw;
    height: 3vw;
    position: absolute;
    z-index: 1;
    top: -1.5vw;
}

.whiteRect {
    background-color: white;
    height: 100%;
    width: 2.5vw;
    float: left;
    position: relative;
}